* {
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    background-image: url(../bilder/bg-h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
$makswidth: 85%;
$hovedmargin: 0 auto;

$color: (
    body-farge: #ffffff,
    hover-farge: rgba(10, 12, 19, 0.555)
);

body {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 4fr 0.2fr;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    margin: 0 auto;
    width: 90%;
    #bg{
        background: map-get($color, body-farge);
        clip-path: polygon(0 0, 100% 0, 94% 100%, 8% 100%);
        width: 90%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}
header {
    width: $makswidth;
    margin: $hovedmargin;
    grid-area: header;
    background-image: url(../bilder/banner.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    height: 100px;
    text-align: center;
    border-radius: 0 25px 0 25px;

    h1{
        text-align: center;
        font-size: 200%;
        color: white;
        padding: 20px;
        
    }
}

nav { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-area: nav;
    width: $makswidth;
    margin: $hovedmargin;
    background-color: rgba(249, 250, 246, 0.842);
    border-radius: 40px 40px 0 0;
    border-bottom: 0.4px groove;
    
    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        font-size: 110%;
        border-radius: 5px;
        margin: 8px;  
        color: white;    
        background-color: rgb(41, 9, 156);   
        
    }
    a:hover {
        background-color: rgb(20, 13, 13);
        color: white;
    }
    a:focus {
        background-color: rgb(20, 13, 13);
        color: white;
    }
    
    a:visited{
        color:yellow;
    }

    .current-link{
        background-color:black;
    }

}

main {
    grid-area: main;
    margin: 0 auto;
    width: $makswidth;
    padding: 20px;
    background: map-get($color, body-farge);  
    article {
        width: 75%;
        margin: 0 auto;
        img {
            width: 200px;
            height: 250px;
            float: left;
            margin-right: 15px;
            border-radius: 15px;
        }

        a{
            display: inline-block;
            background-color: rgb(62, 74, 233);
            color: white;
            padding: 5px;
            margin: 10px;
            font-size: 110%;
            border-radius: 10px;
        }
        a:hover{
            background-color: rgb(11, 11, 15);
            color: white;
        }
    }
    
}


footer{
    grid-area: footer;
    background-color: white;
    border-radius: 0 0 25px 25px;
    padding: 5px;
    text-align: center;
    margin-bottom: 0;
}